PORT=5000
NODE_ENV=development

//DATABASE
MONGO_URI=mongodb://localhost:27017/your_database_name
JWT_SECRET=careerpath_super_secret_jwt_key_2024

//AUTHENTICATION
JWT_EXPIRE=7d

//CLIENT
CLIENT_URL=http://localhost:3000
